{{ define "index" }}
{{ template "head" }}

<h1>UPLDR - S3 file uploads</h1>

<p>Old school file uploader for general happiness.</p>

<a href="/upload">Upload a file</a>

{{ template "foot" }}
{{ end }}